
  <% (1..@end_date.day).each_with_index do |day, index| %>
    <% day = @start_date + (index).days%>
     <% @require_minutes += [0,6].include?(day.wday) ? 0 : 500%>
    <tr>
        <td><%= index+1 %></td>
        <td><%= day.strftime("%b %d %Y") %></td>
        <% checkin, checkout, total_minutes =  checkin_days(day) %>
        <% @total_minutes += total_minutes %>
        <td><%= checkin %></td>
        <td><%= checkout %></td>
        <td><%= convert_in_hours(total_minutes) %></td>
        <td>
          <% if total_minutes > 0%>
            <% if current_employee.is_hr? %>
              <%= link_to "view details", hr_show_attendance_details_path(params[:id] || current_employee.id,  day.strftime("%Y-%m-%d")),  class: "btn btn-info"%> 
            <% else%>  
              <%= link_to "view details", details_attendences_path(day: day.strftime("%Y-%m-%d")),  class: "btn btn-info"%>
            <% end%>
          <% end%>
        </td>
    </tr>
  <% end %>
